.experience__container{
  grid-template-columns: 1fr 1fr;
  display: grid;
  gap: 2rem;
}

.experience__container > div{
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.experience__container > div:hover{
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: pointer;
}

.experience__container > div h3{
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience__content{
  grid-template-columns: 1fr 1fr;
  display: grid;
  row-gap: 2rem;  
}

.experience__details{
  display: flex;
  gap: 1rem;
}

.experience__details-icon{
  margin-top: 6px;
  color: var(--color-primary);
}


