.socials{
    display: flex;
    flex-direction: column ;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    margin: 0 10rem;
}
.socials::after{
    content: " ";
    width: 2px;
    height: 2rem;
    background: var(--color-primary);
}